@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-gradient{
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.3) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.loader {
  width: 5.4em;
  height: 5.4em;
  border: 0.4em solid rgb(84, 84, 84);
  border-left-color: #a23ffc;
  border-radius: 45%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.input {
  /* max-width: 190px; */
  height: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #212121;
  caret-color: #f7f7f8;
  color: #fff;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 1px;
  transition: all .2s ease;
}

.input:hover {
  border: 2px solid rgba(255, 255, 255, 0.16);
}

.input:focus {
  border: 2px solid #a970ff;
  background-color: #0e0e10;
}

.search__btn {
  border: none;
  cursor: pointer;
  background-color: #212121;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__btn:hover {
  background-color: rgba(54, 54, 56, 1);
}

.card__arrow {
  /* position: absolute; */
  background:#4E9F3D;
  padding: 0.4rem;
  border-top-left-radius:  0.75rem;
  border-bottom-right-radius:  0.75rem;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card svg {
  transition: 0.2s;
}

/* hover */
.card:hover .card__title {
  color: #4E9F3D;
  text-decoration: underline;
}

.card:hover .card__arrow {
  background: #a970ff;
}

.card:hover .card__arrow svg {
  transform: translateX(3px);
}